table {
    font-size: xx-large;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f274; 
  }
  
  table tr:nth-child(odd) {
    background-color: #ffffff; 
  }
  
  table th {
    background-color: #0aa4c3;
    color: white;
  }
  
  table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  